<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" [text]="Back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen class="ion-padding">
    <ion-card>
        <ion-item color="dark">          
          <h2>{{showDetail?.name}}</h2>
        </ion-item>
      
        <!-- <img [src]="showDetail.image?.original || '../assets/images/defaultbig.jpg'" /> -->
        <img [src]="showDetail?.image?.original|| '../../assets/images/default.jpg'"/>
      
        <ion-card-content>
            <span *ngIf="showDetail?.schedule.time"><strong> Time:</strong> {{showDetail?.schedule.time}}<br/></span>        
            <span *ngIf="showDetail?.runtime"><strong> RunTime:</strong> {{showDetail?.runtime}}<br/></span>        
            <span *ngIf="showDetail?.status"><strong> Status:</strong> {{showDetail?.status}}<br/></span>        
            <span *ngIf="showDetail?.type"><strong> Type:</strong> {{showDetail?.type}}<br/></span>                
            <span *ngIf="showDetail?.rating.average"><strong> Rating:</strong> {{showDetail?.rating.average }}<br/></span>
            <strong> Schedule:</strong>
            <div *ngFor="let day of showDetail?.schedule?.days">
              {{ day }}
            </div>
            <strong>Summary :</strong>
            <div [innerHTML]="showDetail?.summary"></div>
            <div class="moreInfo">
              For more information,
              <a href={{showDetail?.url}} target="_blank">Click Here</a>
            </div>
        </ion-card-content>
      </ion-card>
</ion-content>
