<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      TV Maze
    </ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="isLoading">
  <ion-spinner name="bubbles"></ion-spinner>
</div>
<div *ngIf="isErr">
  <h3>Something went wrong. Please try later</h3>
</div>
<ion-content>
  <h2 class="ion-padding">Today's Schedule</h2>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let program of programsList" size="12" size-xs="12" size-sm="12" size-md="4">
        <ion-card [routerLink]="['/shows', program?.show?.id]">
          <img [src]="program.show.image?.medium || '../../assets/images/default.jpg'" />
          <ion-card-header>
            <ion-card-subtitle *ngIf="program?.show?.name">{{ program?.show?.name }}</ion-card-subtitle>
            <ion-card-title>{{ program.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="detail-row">
              <label>Season</label>: {{ program?.season}} 
            </div>
            <div class="detail-row">
              <label>Episode</label>: {{ program?.number}}
            </div>
            <div class="detail-row">
              <label>Time</label>: {{program?.airtime}}
            </div>
            <div class="detail-row">
              <label>Duration</label>: {{program?.runtime}} mins
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>